<% content_for :style_chunk do%>
<link rel="stylesheet" href="../styles/main.css"/>
<% end %>
<!-- 页面主体 -->
<% if(orders && orders.length > 0 rescue nil) %>
<div class="panel panel-success">
	<div class="panel-heading"><h4>购物清单</h4></div>
	<div id="pay-date"></div>
	<table class="table table-bordered table-hover table-responsive">
		<thead>
			<tr>
				<th>订单编号</th>
				<th>订单时间</th>
				<th>订单金额</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<% orders.each do |order| %>
			<tr>
				<td>
					<%= "##{order.order_id}" %>
				</td>
				<td>
					<%= "#{order.created_at.in_time_zone(8).strftime('%Y-%m-%d %H:%M:%S')}" %>
				</td>
				<td>
					<%= "#{order.sum_price}" %>
				</td>
				<td>
					<a <%= "href=\'/admin/order_management?id=#{order.order_id}\'"%>>订单详情</a>
				</td>
			</tr>
			<% end %>
		</tbody>
		<tfoot>
		</tfoot>
	</table>
</div>
<% else %>
<div><h3>抱歉，暂时没有订单！</h3></div>
<% end %>
<% content_for :script_lis do %>

<% end %>
