<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pos Web</title>
  <link rel="stylesheet" href="../styles/main.css"/>
  <link rel="stylesheet" href="../lib/bootstrap-3.2.0-dist/css/bootstrap.css">
  <link rel="stylesheet" href="../lib/bootstrap-3.2.0-dist/css/bootstrap-theme.css">
<style>
body{
  margin-top:70px;
}
th{
  width: 20%;
}
</style>
</head>

<body>
<!-- 导航栏 -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">切换导航</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="items.html" class="navbar-brand">Let's Go</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="../index.html">主页</a>
        </li>
        <li>
          <a href="items.html" >商品列表</a>
        </li>    
      </ul>  
      <ul class="navbar-nav nav navbar-right">
        <li class="active">
          <a href="cart.html" ><span class="glyphicon glyphicon-shopping-cart"></span>购物车 (<span id="count">2</span>)</a>
        </li>
      </ul>
    </div>  
  </div>
</nav>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h4>购物清单</h4></div>
    <div id="pay-date"></div>
    <table class="table table-bordered table-hover table-responsive">
      <thead>
        <tr>
          <th>名称</th>
          <th>单价(元)</th>
          <th>单位</th>
          <th>数量</th>
          <th>小计</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>可口可乐</td>
          <td>3</td>
          <td>瓶</td>
          <td>
            <div class="btn-group">
              <a href="#" class="btn btn-default">-</a>
              <a href="#" class="btn btn-default">1</a>
              <a href="#" class="btn btn-default">+</a>
            </div>
          </td>
          <td>3.00<span>元</span></td>
        </tr>
        <tr>
          <td>雪碧</td>
          <td>3</td>
          <td>瓶</td>
          <td>
            <div class="btn-group">
              <a href="#" class="btn btn-default">-</a>
              <a href="#" class="btn btn-default">1</a>
              <a href="#" class="btn btn-default">+</a>
            </div>
          </td>
          <td>3.00<span>元</span></td>
        </tr>
      </tbody>
      <tfoot>
      <td colspan="5">
          <ul class="list-unstyled">
            <li class="text-right"><p>总计：<span>6.00元</span></p></li>
            <li class="text-right"><a href="./payment.html" class="btn btn-primary">付款</a></li>
          </ul>
        </td>
      </tfoot>
  </div>
</div>


<script type="text/javascript" src="../lib/jquery-2.1.1/jquery-2.1.1.js"></script>
<script type="text/javascript" src="../lib/bootstrap-3.2.0-dist/js/bootstrap.js"></script>
<script type="text/javascript" src="../lib/lodash-2.4.1/lodash.compat.js"></script>
<script type="text/javascript" src="../spec/fixtures.js"></script>
<script type="text/javascript" src="../scripts/model/item.js"></script>
<script type="text/javascript" src="../scripts/model/promotion.js"></script>
<script type="text/javascript" src="../scripts/utils.js"></script>
<script type="text/javascript" src="../scripts/main.js"></script>

</body>
</html>
