<% content_for :style_chunk do%>
<link rel="stylesheet" href="../styles/main.css"/>
<% end %>
<div class="panel panel-warning">
	<div class="panel-heading"><h4>购物清单</h4></div>
	<div id="pay-date"></div>
	<table class="table table-bordered table-responsive table-width-cart" id='item_list'>
		<thead>
			<tr>
				<th>名称</th>
				<th>单价(元)</th>
				<th>单位</th>
				<th>数量</th>
				<th>小计</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
		<tfoot>
		<td colspan="5">
			<ul class="list-unstyled">
				<li class="text-right"><p><span>总计：</span><span id='totalPrice'>0.0</span><span>元</span></p></li>
				<li class="text-right"><button id="pay_btn" class="btn btn-warning">付款</button></li>
			</ul>
		</td>
		</tfoot>
	</table>
</div>
<% content_for :script_lis do %>
    <script type="text/javascript" src="../scripts/model/item.js"></script>
    <script type="text/javascript" src="../scripts/storage/cart_storage.js"></script>
    <script type="text/javascript" src="../scripts/model/cart.js"></script>
<% end %>
