<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pos Web</title>
  <link rel="stylesheet" href="lib/bootstrap-3.2.0-dist/css/bootstrap.css">
  <link rel="stylesheet" href="lib/bootstrap-3.2.0-dist/css/bootstrap-theme.css">
  <link rel="stylesheet" href="styles/main.css"/>
<style>
</style>
</head>

<body>
<!-- 导航栏 -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">切换导航</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/items" class="navbar-brand">Let's Go</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/">主页</a>
        </li>
        <li>
          <a href="/items" >商品列表</a>
        </li>
      </ul>
      <ul class="navbar-nav nav navbar-right">
        <li>	  
          <a href="entry">登录</a>
	</li>
        <li>
          <a href="/cart" ><span class="glyphicon glyphicon-shopping-cart"></span>购物车(<span id="count">0</span>)</a>
        </li>
        <li>
          <a href="/admin">管理</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- 欢迎文字 -->
  <div class="container">
    <form>
	<div class="tr">
	    <div class="td">用户名(email):</div>
	    <div class="td"><input type="text" name="user" id="user" /></div>
	</div>
	<div class="tr">
	    <div class="td">密码:</div>
	    <div class="td"><input type="text" name="pwd" id="pwd" /></div>
	</div>
	<div class="tr">
	    <div class="td"><input type="button" class="register" value="注册" /></div>
	    <div class="td"><button type="submit" class="logOn">提交</button></div>
	</div>
    </form>
    <section id="register">
	<form>
	<div class="tr">
	    <div class="td">用户名(email):</div>
	    <div class="td"><input type="text" name="newUser" id="newUser" /></div>
	</div>
	<div class="tr">
	    <div class="td">密码:</div>
	    <div class="td"><input type="text" name="newPwd" id="newPwd" /></div>
	</div>
	<div class="tr">
	    <div class="td">姓名:</div>
	    <div class="td"><input type="text" name="newPwd" id="newPwd" /></div>
	</div>
	<div class="tr">
	    <div class="td">地址:</div>
	    <div class="td"><input type="text" name="newPwd" id="newPwd" /></div>
	</div>
	<div class="tr">
	    <div class="td">电话:</div>
	    <div class="td"><input type="text" name="newPwd" id="newPwd" /></div>
	</div>
	<div class="tr">
	    <div class="td"><a href="/entry">取消</a>
	    <div class="td"><button type="submit">确定</button></div>
	</div>
    	</form>
    </section>
  </div>

<script type="text/javascript" src="lib/jquery-2.1.1/jquery-2.1.1.js"></script>
<script type="text/javascript" src="lib/bootstrap-3.2.0-dist/js/bootstrap.js"></script>
<script type="text/javascript" src="lib/lodash-2.4.1/lodash.compat.js"></script>
<script type="text/javascript" src="scripts/register.js"></script>
<script type="text/javascript" src="scripts/count.js"></script>

</body>
</html>
