<% content_for :style_chunk do%>
<link rel="stylesheet" href="../styles/main.css"/>
<link rel="stylesheet" href="../styles/admin.css"/>
<% end %>
<div class="panel panel-success">
	<div class="panel-heading text-center"><h4>商品列表</h4></div>
	<table id="item-table" class="table table-bordered table-width-items">
		<thead>
			<tr>
				<th>名称</th>
				<th>单价(元)</th>
				<th>单位</th>
				<th>描述</th>
				<th>优惠</th>
				<th>购买</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
		<tfoot>
		</tfoot>
	</table>
</div>
<% content_for :script_lis do %>
<script type="text/javascript" src="../scripts/model/item.js"></script>
<script type="text/javascript" src="../scripts/storage/cart_storage.js"></script>
<script type="text/javascript" src="../scripts/model/cart.js"></script>
<script type="text/javascript" src="../scripts/model/product_list.js"></script>
<% end %>