<% content_for :style_chunk do%>
  <link rel="stylesheet" href="../styles/main.css"/>
  <link rel="stylesheet" href="../styles/login.css"/>
  <script type="text/javascript">
    function login()
    {
      document.getElementById("form_hidden_pass").value = hex_sha1(document.getElementById("form_pass").value);
      return true;
    }
  </script>
<% end %>

<% content_for :nav_lis do%>
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">切换导航</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a href="/views/items.html" class="navbar-brand">Let's Go</a>
</div>
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li>
      <a href="/">主页</a>
    </li>
    <li>
      <a href="/views/items.html" >商品列表</a>
    </li>
  </ul>
  <ul class="navbar-nav nav navbar-right">
    <li>
      <a href="/views/cart.html" ><span class="glyphicon glyphicon-shopping-cart"></span>购物车 (<span id="count">0</span>)</a>
    </li>
    <li class="active">
      <a href="/admin">管理</a>
    </li>
  </ul>
</div>
<% end %>

<!-- 页面主体 -->
  <form class="form-signin" id="form_login" action="/login" method="post" onsubmit="login();">
    <h3 class="form-signin-heading">请登入...</h3>
    <% if(error_text rescue nil) %>
      <p class="form-error-text"><%= "#{error_text} 请重新输入!"%></p>
    <% end %>
    <input class="form-control" type="text" name="adminname" placeholder="请输入用户名..."autofocus required>
    <input id="form_hidden_pass" type="hidden" name="password" value="" />
    <input id="form_pass" class="form-control" type="password" placeholder="请输入密码..." required>
    <input class="login-form-btn btn btn-lg btn-primary btn-block" type="submit" value="登入">
  </form>
