<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pos Web</title>
  <link rel="stylesheet" href="lib/bootstrap-3.2.0-dist/css/bootstrap.css">
  <link rel="stylesheet" href="lib/bootstrap-3.2.0-dist/css/bootstrap-theme.css">
  <link rel="stylesheet" href="styles/login.css"/>
<style>
</style>
</head>

<body>
<div class="container">
  <form class="form-signin" role="form">
    <label for="inputUserName" class="sr-only">User Name</label>
    <input type="text" id="inputUserName" class="form-control" placeholder="User Name" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>
</body>
</html>
