<% content_for :style_chunk do%>
    <link rel="stylesheet" href="../styles/main.css"/>
<% end %>
<% content_for :nav_lis do%>
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">切换导航</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a href="/items" class="navbar-brand">Let's Go</a>
</div>
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li>
      <a href="/">主页</a>
    </li>
    <li>
      <a href="/items">商品列表</a>
    </li>
    <li class="active"><a href="/order_admin">订单管理</a></li>
  </ul>
  <ul class="navbar-nav nav navbar-right">
    <li>
      <a href="/cart" ><span class="glyphicon glyphicon-shopping-cart"></span>购物车(<span id="count">0</span>)</a>
    </li>
    <li>
      <a href="/admin">管理</a>
    </li>
  </ul>
</div>
<% end %>

<!-- 页面主体 -->
<% if orders && orders.length > 0 %>
  <div class="panel panel-success">
    <div class="panel-heading"><h4>购物清单</h4></div>
    <div id="pay-date"></div>
    <table class="table table-bordered table-hover table-responsive">
      <thead>
        <tr>
          <th>订单编号</th>
          <th>订单时间</th>
          <th>订单金额</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% orders.each do |order| %>
          <tr>
            <td>
              <%= "##{format("%012d", order.id)}" %>
            </td>
            <td>
              <%= "#{order.created_at}" %>
            </td>
            <td>
              <%= "#{order.sum_price}" %>
            </td>
            <td>
              <a <%= "href=\'/order_admin?id=#{order.id}\'"%>>订单详情</a>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>
<% else %>
  <div>抱歉，暂时没有订单！</div>
<% end %>
