<% content_for :style_chunk do%>
<link rel="stylesheet" href="styles/main.css"/>
<link rel="stylesheet" href="styles/register.css"/>
<link rel="stylesheet" href="styles/entry.css"/>
<link rel="stylesheet" href="styles/login.css"/>
<script type="text/javascript">
function login()
{
	document.getElementById("newPwdHidden").value = hex_sha1(document.getElementById("newPwd").value);
	return true;
}
</script>
<% end %>
<!-- 欢迎文字 -->
<div class="container">
	<section id="register">
		<div class=" panel panel-success">
			<div class="panel-heading">
				<h2 class="form-signin-heading">请登入...</h2>
			</div>
			<form action="/register" class="form-horizontal" method="post" role="form" onsubmit="login();">
				<br/>
				<div class="form-group">
					<label for="newUser" class="col-sm-1 control-label">
						用户名:
					</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="newUser" id="newUser" placeholder="email@example.com"/>
					</div>
					<% if(text rescue nil) %>
					<p>
					<%= "#{text} 请重新输入!"%>
					</p>
					<% end %>
					<div class="col-sm-3">
						<p class="tip1"></p>
					</div>
				</div>
				<div class="form-group">
					<label for="newPwd" class="col-sm-1 control-label">
						密码:
					</label>
					<div class="col-sm-8">
						<input id="newPwdHidden" class="form-control" type="hidden" name="newPwd" value="" />
						<input type="password" class="form-control" id="newPwd" required placeholder="请输入六位以上"/>
					</div>
					<div class="col-sm-3">
						<p class="tip3"></p>
					</div>
				</div>
				<div class="form-group">
					<label for="newName" class="col-sm-1 control-label">
						姓名:
					</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="newName" id="newName" required placeholder="请输入字母或汉字"/>
					</div>
					<div class="col-sm-3">
						<p class="tip4"></p>
					</div>
				</div>
				<div class="form-group">
					<label for="newAddress" class="col-sm-1 control-label">
						地址:
					</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="addr" id="newAddress" required placeholder="请输入默认地址"/>
					</div>
				</div>
				<div class="form-group">
					<label for="newPhone" class="col-sm-1 control-label">
						手机号:
					</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="phone" id="newPhone" required placeholder="1XX xxxx xxxx"/>
					</div>
					<div class="col-sm-3">
						<p class="tip2"></p>
					</div>
				</div>
				<div class="text-center button-group">
					<a class="button btn btn-lg btn-warning col-sm-2" href="/login">
						取消
					</a>
					<button type="submit" class="button newLogOn btn btn-lg btn-success col-sm-2 col-md-offset-1">
					确定
					</button>
				</div>
			</form>
		</div>
	</section>
</div>
<% content_for :script_lis do %>
<script type="text/javascript" src="../scripts/entry.js"></script>
<% end %>
