<% content_for :style_chunk do%>
  <link rel="stylesheet" href="styles/main.css"/>
  <script type="text/javascript">
  function login()
  {
    document.getElementById("newPwdHidden").value = hex_sha1(document.getElementById("newPwd").value);
    return true;
  }
  </script>
<% end %>
<!-- 导航栏 -->
<% content_for :nav_lis do%>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">切换导航</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/items" class="navbar-brand">Let's Go</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/">主页</a>
        </li>
        <li>
          <a href="/items" >商品列表</a>
        </li>
      </ul>
      <ul class="navbar-nav nav navbar-right">
        <li>
          <a href="/entry">登录</a>
        </li>
        <li>
          <a href="/entry">注销</a>
        </li>
        <li>
          <a href="/cart" ><span class="glyphicon glyphicon-shopping-cart"></span>购物车(<span id="count">0</span>)</a>
        </li>
        <li>
          <a href="/admin">管理</a>
        </li>
      </ul>
    </div>
<% end %>
<!-- 欢迎文字 -->
<section id="register">
  <form action="/register" method="post" role="form" onsubmit="login();">
    用户名:
    <input type="text" name="newUser" id="newUser" placeholder="email@example.com"/>
    <% if(text rescue nil) %>
      <p>
        <%= "#{text} 请重新输入!"%>
      </p>
    <% end %>
    <p class="tip1"></p>
    密码:
    <input id="newPwdHidden" type="hidden" name="newPwd" value="" />
    <input type="password" id="newPwd" required placeholder="请输入六位以上"/>
    <p class="tip3"></p>
    姓名:
    <input type="text" name="newName" id="newName" required placeholder="请输入字母或汉字"/>
    <p class="tip4"></p>
    地址:
    <input type="text" name="addr" id="newAddress" required placeholder="请输入默认地址"/>
    手机号:
    <input type="text" name="phone" id="newPhone" required placeholder="1XX xxxx xxxx"/>
    <p class="tip2"></p>
    <a href="/entry">
      取消
    </a>
    <button type="submit" class="newLogOn">
      确定
    </button>
  </form>
</section>

<script type="text/javascript" src="lib/jquery-2.1.1/jquery-2.1.1.js"></script>
<script type="text/javascript" src="lib/bootstrap-3.2.0-dist/js/bootstrap.js"></script>
<script type="text/javascript" src="lib/lodash-2.4.1/lodash.compat.js"></script>

