<div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	<span class="sr-only">切换导航</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	</button>
	<a href="/items" class="navbar-brand">Let's Go</a>
</div>
<div class="navbar-collapse collapse">
	<ul class="nav navbar-nav">
		<li class="active"><a href="/">主页</a></li>
		<% if (admin rescue nil) %>
		<li><a href="/admin/product_management" >商品管理</a></li>
		<li><a href="/admin/order_management" >订单管理</a></li>
		<% else %>
		<li><a href="/items" >商品列表</a></li>
		<% end %>
	</ul>
	<ul class="navbar-nav nav navbar-right">
		<% if(admin rescue nil) %>
		<li><a href="#" id="state"><span class="glyphicon glyphicon-user"><%= admin.name %></a></li>
		<li><a href="#" onclick="if(confirm('<%= admin.name %>，真的要退出系统吗？')) window.location.href='/logout';">注销</a></li>
		<% elsif(user rescue nil) %>
		<li><a href="#" id="state"><span class="glyphicon glyphicon-user"><%= user.name %></a></li>
		<li><a href="#" onclick="if(confirm('<%= user.name %>，真的要退出系统吗？')) window.location.href='/logout';">注销</a></li>
		<li><a href="/cart" ><span class="glyphicon glyphicon-shopping-cart"></span>购物车(<span id="count">0</span>)</a></li>
		<% else %>
		<li><a href="/login">登录</a></li>
		<% end %>
	</ul>
</div>
